MediCore Clinic - Load to Pinecone.json
{
  "name": "MediCore Clinic - Load to Pinecone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1DmtYcwYkqgyES9fP_KV3N7SHXsuII5bB",
          "mode": "list",
          "cachedResultName": "MediCore Clinic",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1DmtYcwYkqgyES9fP_KV3N7SHXsuII5bB"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a3da6302-19af-4b20-a0d3-f5e39317edb9",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Fp57YaFlB7bq4FWs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "75eec40a-6d18-4b13-866f-e5265e62cc40",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Fp57YaFlB7bq4FWs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "medicore",
          "mode": "list",
          "cachedResultName": "medicore"
        },
        "options": {
          "pineconeNamespace": "medicore"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "b0d2df94-455c-4e13-81cf-4a90288416c3",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "S1acWU4ao6rhcIjH",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        176
      ],
      "id": "8bba2857-cb6d-4385-9941-55a3637e9e53",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "WFZnAIZVNIScZJtb",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        544,
        176
      ],
      "id": "9de5773c-b354-4894-87b3-5cf97f4ccd5b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        544,
        336
      ],
      "id": "44653727-9ce5-43a3-a04f-d9c661c6b781",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d2c5b82f-e9ca-4af4-81bf-7557103c85d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb8023c0d680f777bd04173a7ef8dad8cbcd1198cc1a2d9f3256c079e9a3a50f"
  },
  "id": "Q8MYCDnGED21mJab",
  "tags": []
}